
body{
    background-image: url("https://cdn.britannica.com/08/177308-050-94D9D6BE/Food-Pizza-Basil-Tomato.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width:100%;
  
}
.header{
  background-color:yellowgreen;
  padding: 0;
}
.header a{
  float: center;
  color: darkmagenta;
  text-align: left;
  text-decoration:none;
  font-family: serif;

}
.header a.logo {
  font-size: 25px;
  font-weight:bold;
  
}

.navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  

} 
.navbar li{
  display: inline-block;
  
}
.navbar a{
   text-decoration: none;
   color: darkblue;
   width: 90px;
   display: block;
   padding: 10px; 
   text-transform: uppercase;
   font-weight: bold;
   font-family: arial;
   text-align: center;
   font-size: 15px;

 }
 .navbar a:hover{
   background-color: #ddd;
   color:black;

 }
 

 .button{
   font-size: 16px;
   padding: 16px 32px;
   border-radius: 16px;
   display: inline-block;
   cursor: pointer;
   margin: 4px 2px;

 }
 #btn{
  padding: 20px 40px 20px 40px;
  color:red;
 }

 #btntwo{
  display: inline;
  padding:20px 40px 20px 40px;
  color: red;
}

 #container{
  text-align: center;
 
 }
 .button:hover{
   background-color:black;
 }
 
h1{
    color:darkblue;
   }
p{

 color: blue;
}
